<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.js" integrity="sha512-53y53BQwxZvk4YGd9SkHPqI7nDwlIIFZ4D2BSJG08Co7y6O3YsWeRtO6trPtdoyqfTCTkTbCulNosIAI6E4UvQ==" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var username = "<%= username %>";
        var room = "<%= room %>";
    </script>
    <script>
        
    </script>
    <link rel="stylesheet" href="styles/chat.css">
    <title>ChatBoom</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="title"><h3>ChatBoom</h3></div>
        </div>
        <div class="mainContent">
            <div id="chats">
            </div>
            <div class="stats">
                <span>Room Name</span>
                <div id="roomName"><%= room %> </div>
                <span>Users</span>
                <div id="users"></div>
            </div>
        </div>
        <div class="controlBox">
            <div class="inputBox">
                <input type="text" id="input">
                <button id="send">Send</button>
            </div>
            <button id="leave">Leave Room</button>
        </div>
    </div>
</body>
<script src="index.js"></script>
</html>