@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Courgette&display=swap');

*{
    font-family: 'Baloo 2', cursive;
}
body{
    height: 100vh;
    overflow: hidden;
    background-color: hsl(23, 100%, 95%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: hsl(23, 100%, 70%);
    flex-basis: 700px;
    padding-bottom: 20px;
    border-radius: 20px;
}


/* Top Portion */

.header{
    display: flex;
    flex-basis: 50px;
    background-color: hsl(23, 100%, 60%);
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header .title h3{
    font-size: x-large;
    font-family: 'Courgette', cursive;
}

/* Middle Portion */

.mainContent{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#chats{
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    background-color: hsl(23, 100%, 95%);
    max-height: 400px;
    overflow: auto;
}

.message{
    background-color: hsl(23, 100%, 90%);
    margin: 20px;
    padding-left: 10px;
    border-radius: 10px;
}
.message .meta{
    color: hsl(23, 100%, 70%);
}
.message .text{
    color: hsl(23, 100%, 5%);
}

.stats{
    display: flex;
    flex-direction: column;
}


/* Bottom */

.controlBox{
    display: flex;
    justify-content: space-around;
}
.inputBox, .inputBox input{
    display: flex;
    flex-grow: 0.8;
    justify-content: center;
}
.leave{
    flex-grow: 0.1;
}

input[type='text'], button{
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
input[type='text']:focus, button:hover{
    box-shadow: 0 0 5px 2px #999;
}

button:hover{
    cursor: pointer;
}
#input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#send{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

